<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zixue.mapper.StudentMapper">
    <sql id="commonSelect">
        select stu.id, stu.name, address, sex, dept.name deptName, dept.id deptId from student stu inner join dept on
        stu.dept_id = dept.id
    </sql>
    <!--    新增-->
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into student(name,address,sex,dept_id)
        values(
            <if test="name != null ">#{name},</if>
            <if test="address != null ">#{address},</if>
            <if test="sex != null ">#{sex},</if>
            <if test="deptId != null ">#{deptId}</if>
        )
    </insert>
    <!--    根据id删除学生-->
    <delete id="delete">
        delete from student where id = #{id}
    </delete>
    <!--    批量删除-->
    <delete id="deleteByIds">
        delete from student where id in
        <foreach collection="ids" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </delete>
    <!--    更新-->
    <update id="update">
        update student
        <set>
            <if test="name !=null">name = #{name},</if>
            <if test="address !=null">address = #{address},</if>
            <if test="sex !=null"> sex = #{sex},</if>
            <if test="deptId !=null">dept_id = #{deptId}</if>
        </set>
        where id = #{id}
    </update>
    <!--    查询-->
    <select id="queryStudents" resultType="com.zixue.pojo.Student">
        <include refid="commonSelect"></include>
        <where>
            <if test='name != null and name != ""'>
                stu.name like concat('%',#{name},'%')
            </if>
            <if test='sex != null and sex != ""'>
                and stu.sex = #{sex}
            </if>
        </where>
    </select>
<!--    根据id查询-->
    <select id="queryStudentById" resultType="com.zixue.pojo.Student">
        <include refid="commonSelect"></include>
        where stu.id = #{id}
    </select>
</mapper>